* {
  box-sizing: border-box;
}
body{
   width: 80%;
   padding-left: 50px;
   margin: 30px auto;
}
header.main{
   margin: 0;
   padding: 0%;
   height: 150px;
   text-align: left;
}
p {
   font-family: "Garamond";
   font-size: 20px;
   font-weight: 300;
   text-align: justify;
   padding: 5px 20px;
   line-height: 150%;
   text-indent: 5%;
   letter-spacing: 0.5px;
   border-right: solid thin #d5d5d5;
}
p.job_desc{
   width: 480px;
}
.ps {
   font-size: 20px;
   font-weight: 300;
   padding: 20px;
   width: 90%;
   margin: 1px auto;
   border-bottom: solid thin #d5d5d5;
   border-right: none;
   text-indent: 5%;
   letter-spacing: 0.5px;
}

h1{
   font-family: "Garamond";
   font-size: 80px;
   color: black;
   text-decoration-line: underline;
   margin: 5px;
   margin-top: 20px;
   padding: 20px;
   text-align: start;
}
h2,h3{
   font-family: "Garamond";
   color: black;
   text-decoration-line: underline;
}

div{
	padding: 0px;
	margin: 10px;
}
.abilities{
   font-family: "Garamond";
   font-size:16px;
   text-align: left;
   padding: 20px;
   display: inline;
}
.flex_block {
   display: flex;
}
.width_block{
   width: 50%;
}
ul{
   margin:0;
   padding: 0;
}
li{
   font-family: "Garamond";
   font-size: 20px;
   font-weight: 300;
   padding: 10px 20px;
   text-align: justify;
   text-indent: 5%;
   letter-spacing: 0.5px;
   margin: 10px 0px;
}
nav ul, footer ul {
   font-family:'Helvetica', 'Arial', 'Sans-Serif';
   padding: 0px;
   list-style: none;
   font-weight: bold;
}
nav ul li, footer ul li {
   display: inline;
   margin-right: 20px;
}
nav ul li:hover, footer ul li:hover{
   background-color: #cd5360;
   border-radius: 0px;
}
footer {
   border-top: 1px solid #d5d5d5;
   font-size: .8em;
}
a {
   text-decoration: none;
   color: #999;
}
a:hover {
   text-decoration: underline;
   color: white;
}
img {
   align-self: center;
   width: 100px;
   height: 70px;
}