<!DOCTYPE html>
<html lang="en">
   	<head>
		<meta charset="utf-8">
		<title>{{ page.title | default: site.title }}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
		rel="stylesheet">
	</head>
	<body class="bg-dark">
		<nav class="my-3 border-0">
			<ul class="nav flex-row gap-2 list-unstyled">
			  <li class="nav-item">
				<a class="btn btn-dark border-0 text-white btn-lg" href="/">What I’m working on</a>
			  </li>
			  <li class="nav-item">
				<a class="btn btn-dark border-0 text-white btn-lg" href="/cv">CV</a>
			  </li>
			</ul>
		  </nav>
		<div class="container-fluid">

		<main class="container-fluid">
			{{ content }}      <!-- every child layout/page drops its body here -->
		</main>



		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:sblascomedina@gmail.com">email</a></li>
        		<li><a href="https://github.com/sblasco7">Github</a></li>
				<li><a href="https://www.linkedin.com/in/simonblasco">Linkedin</a></li>
			</ul>
		</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
	</body>
</html>


