<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Latest Proyects</a></li>
	        	<li><a href="/about">About me</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			
        		{{ content }}
				
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:sblascomedina@gmail.com">email</a></li>
        		<li><a href="https://github.com/sblasco7">Github</a></li>
				<li><a href="https://www.linkedin.com/in/simonblasco">Linkedin</a></li>
			</ul>
		</footer>
	</body>
</html>
